/*
---------------------
UNIT CONVERSION FUNCTIONS
---------------------
*/
/*
---------------------
VARS
---------------------
*/
/*
---------------------
TYPOGRAPHY
---------------------
*/
html {
  font-size: 13px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.card-title {
  font-size: 1.2307692308rem;
  font-weight: 700;
  line-height: 1.8461538462rem;
  letter-spacing: 0.0153846154rem;
  font-family: "Manrope", sans-serif;
  color: #48556A;
  margin-bottom: 0.9230769231rem;
  order: 1;
}

.card-description {
  order: 2;
  color: hsl(212, 23%, 69%);
  font-size: 1rem;
  line-height: 1.5384615385rem;
  letter-spacing: 0.121875px;
}

.card-footer {
  order: 4;
}

.align-author-txt {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5384615385rem;
  letter-spacing: 0.121875px;
  color: #48556A;
}

.card-date {
  font-size: 1rem;
  line-height: 1.5384615385rem;
  letter-spacing: 0.121875px;
  color: #9DAEC2;
  font-weight: 500;
}

.footer-share-text {
  font-size: 1rem;
  line-height: 1.5384615385rem;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  display: inline;
  text-transform: uppercase;
}

/*
---------------------
MOBILE LAYOUT
---------------------
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ECF2F8;
}

.container {
  width: 25.1538461538rem;
  margin: 0 auto;
  border-radius: 0.7692307692rem;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  background-color: white;
}

.card-content {
  margin: 2.7692307692rem 2.4615384615rem 1.5384615385rem 2.4615384615rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-author {
  order: 3;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2.4615384615rem;
}

.card-author-align {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
}

.align-author-txt {
  display: flex;
  flex-direction: column;
}

.card-footer {
  opacity: 0;
  background-color: #48556A;
  min-width: 25.1538461538rem;
  height: 4.9230769231rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4615384615rem;
  margin-left: -2.4615384615rem;
  margin-bottom: -1.5384615385rem;
  padding: 1.2307692308rem 2.4615384615rem 1.2307692308rem 0;
  border-radius: 0 0 0.7692307692rem 0.7692307692rem;
  position: absolute;
  bottom: 0;
  transition: opacity 0.5s ease-out;
}

.card-footer.visible {
  opacity: 1;
}

.card-share {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 13.4615384615rem;
  margin-left: 2.4615384615rem;
}

/*
---------------------
IMAGES
---------------------
*/
.drawers-img {
  width: 100%;
  height: 15.3846153846rem;
  border-radius: 0.7692307692rem 0.7692307692rem 0 0;
}

.card-author-img {
  width: 3.0769230769rem;
  height: 3.0769230769rem;
  border-radius: 50%;
  margin-right: 1.2307692308rem;
}

.card-share-btn,
.card-share-back-btn {
  all: unset;
  min-width: 2.4615384615rem;
  min-height: 2.4615384615rem;
  position: relative;
}

.share-icon {
  position: relative;
  z-index: 1;
  width: 100%;
  cursor: pointer;
}

.down-arrow {
  display: none;
}

/*
---------------------
FOOTER
---------------------
*/
.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  font-size: 0.8461538462rem;
  width: 100%;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(212, 23%, 69%);
}

/*
---------------------
MEDIA QUERY - DESKTOP
---------------------
*/
@media (min-width: 1000px) {
  .container {
    width: 56.1538461538rem;
    height: 21.5384615385rem;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  .drawers-img {
    width: 21.9230769231rem;
    height: 21.5384615385rem;
    border-radius: 0.7692307692rem 0 0 0.7692307692rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  .card-content {
    width: 34.2307692308rem;
  }
  .card-title {
    font-size: 1.5384615385rem;
    line-height: 2.1538461538rem;
    letter-spacing: 0.25px;
  }
  .card-author {
    max-width: 28.0769230769rem;
    margin-top: 1.5384615385rem;
  }
  .card-share-back-btn {
    left: 0.6153846154rem;
    top: 1.5769230769rem;
  }
  .down-arrow {
    display: block;
    position: absolute;
    bottom: -1.1538461538rem;
    left: 42%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #48556A;
  }
  .card-footer > .card-share-back-btn {
    transition: none;
    opacity: 1;
  }
  .card-footer {
    padding-top: 0.3846153846rem;
    position: absolute;
    bottom: 107px;
    left: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 19.0769230769rem;
    max-height: 4.2307692308rem;
    border-radius: 0.7692307692rem;
  }
}/*# sourceMappingURL=style.css.map */